USE [master]
GO
/****** Object:  Database [teste_target]    Script Date: 06/09/2022 02:09:02 ******/
CREATE DATABASE [teste_target]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'teste_target', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\teste_target.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'teste_target_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\teste_target_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [teste_target].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [teste_target]
GO
/****** Object:  Table [dbo].[fornecedores]    Script Date: 06/09/2022 02:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedores](
	[FORN_ID] [int] IDENTITY(1,1) NOT NULL,
	[FORN_DESCRICAO] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[FORN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 06/09/2022 02:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[PROD_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROD_DESCRICAO] [varchar](40) NULL,
	[PROD_COD] [varchar](40) NULL,
	[PROD_DATA_CADASTRO] [datetime] NULL,
	[PROD_VALOR_COMPRA] [numeric](16, 2) NULL,
	[PROD_VALOR_VENDA] [numeric](16, 2) NULL,
	[PROD_ESTOQUE_MAX] [int] NULL,
	[PROD_ESTOQUE_MIN] [int] NULL,
	[PROD_FK_FORN_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[produtos]  WITH CHECK ADD  CONSTRAINT [PROD_FK_FORN_ID] FOREIGN KEY([PROD_FK_FORN_ID])
REFERENCES [dbo].[fornecedores] ([FORN_ID])
GO
ALTER TABLE [dbo].[produtos] CHECK CONSTRAINT [PROD_FK_FORN_ID]
GO
USE [master]
GO
